# VS Code settins
.vscode/

# Yarn zero-install no global cache
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache

# Theme output
assets/assets/

# WireIt
.wireit
